

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #F2F2F2;
}

.nav {
    font-size: 16px;
}

.jumbotron {
    background-color: rgba(10%,40%,50%,0.1);
}


/* Tag */
.tag {
    font-size: 6pt;
    border-radius: 5px;
    padding: 3px;
    opacity: 0.85;
}

.tag-cc {
    background: #BDBDBD;
}

.tag-si {
    background: #FFCC00;
}

.tag-gt {
    background: #00BFFF;
}

.tag-dp {
    background: #669900;
}

.tag-hs {
    background: #ff9999;
}

.tag-it {
    background: #ffccff;
}

.tag-ls {
    background: #ccccff;
}

.tag-ps {
    background: #ffcc99;
}

.tag-sdp {
    background: #A9F5E1;
}

/* Home */

.intro {
    margin-right: 300px;
    margin-left: 50px;
}

#intro {
    margin-top: 20px;
    font-family: sans-serif;
}

#frontphoto {
    margin-top: 30px;
    width: 280px;
    float: right;
}

#bookcover {
    width: 200px;
    float: right;
}

.bookintro {
    margin-right: 300px;
}

/* Research & Prjects & Notes */
.topic {
    background: "#FFFFFF";
}

.advisor {
    font-style: italic;
}

.title {
    margin-top: 20px;
    font-size: 22px;
    font-style: oblique;
    font-weight: bold;
}

.classname {
    font-weight: bold;
    font-size: 16pt;
}

.notename {
    font-size: 14pt;
}

.note {
    font-size: 16px;
}

.details {
    margin-bottom: 30px;
}

.list {
    font-size: 16px;
}

.lead {
    font-size: 16px;
}

/* footer */
.site-footer {
    border-top: 1px solid #800517;
    padding: 20px 0;
}




